h1 Nothing Never Happens

p To improve my ethnographic skills I studied a single subject of playing Final Fantasy 14 to discover the cognitive bridges between physical and virtual experiences. Over a 10 week period, I set out to collect various forms of observational data, including interviews, photos, and video. 

h2 Overarching Themes

h2 Observation
p In the case of navigating a virtual world using a controller, the history of using the controller, the interface matching the controller's button placement, and visual feedback to physical movement all contribute to deducing cognition emerging from the interactions between brain, setting, and activity influencing one another within an information rich world.

h2 Photography analysis
p activity that seems routine reveal underlying complexity of developing dexterity and where attention is focused.

h2 Finding Cultural Models
p How may a group of individuals organize themselves to accomplish a mutual goal, and how might individuals express themselves in largely a text-based medium. 

h2 Video Analysis
p How does an individual navigate the virual world in both space and time.


h2 The Interface and Coordination
p Getting good requires embodying abstract actions into physical form. What scaffolds that?

h2 Collection of Essays

