doctype html
html(lang='en')
head
	title Dank Mems
	link(href='css/home.css', rel='stylesheet')
	link( rel="stylesheet" type="text/css" href='css/jquery.fullPage.css')
	
	
	
body
	div#fullpage
		div#title.section

			span#welcome Allan Asis
			div.right(style="color: black")
				ul.navbar
					span.tilde >
					span.colon :
				ul.navbar 
					a(href="#works") Works  
					span.slash /
					ul.dropdown
						a(href="#works") 
							li SOLO
						a(href="#works/discourse")
							li Discourse
						a(href="#works/musicapp")
							li Music App Wireframe
						a(href="#works/ethnography")
							li Ethnography

				ul.navbar
					a(href="#writing") Writing  
					span.slash / 
					ul.dropdown
						a(href="#works") 
							li Sundry Smiles
						a(href="#works") 
							li The Girl Who Collects Magic Tricks 
						a(href="#works") 
							li Saxophone In Allegro
						a(href="#works") 
							li Blues Iced in Birds
						a(href="#works") 
							li Letters of Memories
				ul.navbar
					a(href="#resume") Resume
					ul.dropdown
						li 
							a(href="#works") test
						li 
							a(href="#works") test
		div.title.section(name="solo")
			div.slide(name="solo" data-anchor="solo")
				div.container
					h1.welcome SOLO
					div.content
						p SOLO is an exploration service application aimed to tackle social exhaustion where those can enjoy places by yourself without the pressure of others. By developing in regards to our own introversion, we create a personable adventure for our users. In a 3 week design sprint, our 5 student team went through a reiterative process bringing in our previous ideas together forming SOLO. We developed several prototypes, user profiles, and presented each week gaining feedback to critique and implement
						
						h1 The Problem
						p The issue of social exhaustion in public spaces is close and familiar with many members of our group, and we believed the idea to be unique and interesting enough to pursue as a project. We felt that there was a lot of potential for an app that emphasized both getting out of the house and being comfortable by yourself. By working on soloSD, we hope to provide the more socially withdrawn side of San Diego with a helpful tool that encourages getting out of the house and enjoying life without having to worry about the busy world around you.


						h1 Developing the Idea
						p Initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						p we each diverged across many different interests we had searching for potential needs to iterate upon and develop services for. We also used the databases immediately available to us to drive ideas toward certain directions. 
						ul We looked at:
							li Potential living spaces
							li Mental Health
							li Neighborhood Public Policy
							li Physiological Health
						p Constricting our brainstorming to 24 hours forces us to critically enumerate on potential topics without getting caught up on perfecting an idea. From choosing to launch with developing upon the problem of: “do certain demographics display more of a trend towards certain mental issues than others?,” we began a 72 hour prototyping session where we focus on our core tenets derived user needs  we researched.  
						p Our current idea, soloSD, was established after being unable to develop a niche around the problem: As stated in the introduction, initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						h1 Developing Architecture
						p We outlined a basic series of actions our users would take when finding a place to be alone.
						img(src="http://puu.sh/rkTle/638ce144c7.png")
						p Then developed a rough prototype encompassing this activity. 
						img(src="http://puu.sh/rkTov/f5a67830fd.jpg")
						a(href="http://946lno.axshare.com/#g=1&p=home&c=1") Prototype
						h1 Testing and Evaluation
						p With our weekly presentations, we gained class feedback to critique and find what may be best implemented into our app as well as the snags from quickly browsing through the developing prototype.
						a(href="https://docs.google.com/document/d/1yAW1rEBGyyrrwF9rmd1HZvct8EOi_rshD2s26hXlueo/edit?usp=sharing") feedback


						h2
							a(href='#drivelink') Project Files
			div.slide(name="discourse" data-anchor="discourse")
				div.container
					h1.welcome Discourse
					div.content
						p Discourse is an interactive lecture service that facilitates collaborative learning and provides analytics for professors. Unlike other platforms, Discourse facilitates collaborative learning and in-class activities that produces comprehensive learning materials.
						p Over a 10 week period, our team of 4 sought to understand the classroom environment and the technologies used to enhance learning. Through observations, interviews, and service enactments, we found essential needs to iterate on. 

						h1 Why did we create Discourse?
						p Learning shouldn't be a passive experience. Large lecture halls today paint a rather dismal picture - students, with their eyes glued to laptop screens, and professors droned out in the background. The current learning environment doesn't facilitate learning. Students often rush to cram all the information they didn't learn in class the night before their midterms and finals.
						p Discourse aims to harness ubiquitous, always on devices as a boon instead of a distraction. We can facilitate learning and make lecture time valuable by taking advantage of some key insights in the science of education.
						h1 Understanding the Education Space 
						p First, we brainstormed grievances and occurances about college life under 4 general sectors: Social, Technological, Economical, and Political. This allowed us to hone into a niche of opportunities. 
						img(src="https://puu.sh/rkPdS/72013598d0.png")
						h2 How Might We 
						ul
							li How might we create easy-to-use and unambiguous channels for communication between students, professors, and TAs?
							li How might we foster student etiquette and professionalism to create a reliable platform for prompt and helpful answers? 
							li How might we enable students to collaboratively interact with, annotate, discuss, and transform the professor’s content?

						p From here, we conducted interviews and observed students in lecture to develop questions on where we could improve learning. 
						p Using our ethnographic data, we each created our own solutions through storyboarding. With parallel design, we can see the commonalities between each design, and which were a unique approach. Through parallel design, we iterated rapidly without being hungup on trying to form multiple solutions. 
						p Our current idea, soloSD, was established after being unable to develop a niche around the problem: As stated in the introduction, initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						img(src="./img/storyboards/1")
						img(src="./img/storyboards/2")
						img(src="./img/storyboards/3")
						img(src="./img/storyboards/4")
						img(src="./img/storyboards/5")
						img(src="./img/storyboards/6")
						h2 Competitive Analysis
						p We analyzed current tools and services being used to understand why each would be used, and why someone would use our service rather than established tools. 
						img(src="http://puu.sh/rkQEv/c2811dc7af.png")
						p To do so, we developed user scenarios where persona may interact with our proposed service in the face of a problem.
						h2 Roleplaying and Enactments
						p To test our service if it would be feasible we created a scenario in which a student will go through a lecture and will be periodically interrupted with given activities. To mimic a live lecture while still being able to control the pacing of the class, I proposed for our users to listen to a podcast of a lecture. 
						p Podcasts allowed us to:
						ul
							li pause at any moment to do an activity
							li reduce confounds of split attention between the professor lecturing and the student doing an activity
							li focus on how receptive users are to the handed activities. 

						p We listened to the selected podcast beforehand to match our activities with the lecture content. We interrupt the student upon reaching an activity moment, and have them do the activity proposed on the google survey form to record their responses. 
						img(src="http://puu.sh/rkSI4/c2f5dceeb4.jpg")
						p At the end of the enactment, we have students evaluate their experiences. 
						img(src="http://puu.sh/rkSJM/a2bae9c4ac.png")

						h2 Brand Identity
						p Before naming our service Discourse, we explored abstract concepts and adjectives paired with various color schemes. 
						p We came up with Discourse as a double entendre. "This course" and Discourse as in opening a dialogue.
						img(src="http://puu.sh/rkS40/e57f74b179.png")
						img(src="http://puu.sh/rkS71/84a7a47de8.jpg")
						img(src="http://puu.sh/rkS8h/b4eeda5e74.jpg")

						h2 Pitching Our Service
						p For our A/B Testing, we developed two mock websites paired with different advertisements pitched to different demographics to see which pair would generate the most clicks and sign ups. 
						img(src="http://puu.sh/rkSCH/0418b8d1cd.jpg")
						img(src="http://puu.sh/rkSFv/514fe439a3.jpg")
						img(src="http://puu.sh/rkSGz/2b9095d53c.png")
						p Finally, we created a sample kickstarter campaign with a video pitch for potential investors. 					 
			div.slide(name="musicapp" data-anchor="musicapp")
				div.container
					h1.welcome Music App Wireframe
					div.content
						p Our team of 3 developed a wireframe for our own mobile music application testing our comprehension in usability, information architecture, navigation, and interactivity.
						h1 User Scenarios
						p We sought to understand the contexts in which people who regularly listen to music through their cell phone. When and where do people do those activities? And how do they do them? 
						p To extract scenarios we have people show us step by tep of how they would do a process like creating a playlist from discovered music. 
						p From a pool of 9 people ranging from ages 20-25, we interview each about their mobile music habits. 

						h1 Generate broad scenarios from interviews
						li Can you think of other times when you recenlty listened to a playlist?  What were you doing? 
						li Can you think of other times you made a playlist - a time when you made it in a different way?  For instance, do you ever make your own playlists out of playlists on a provider site?  When was the last time?  Where were you.
						li Can you first tell me in general terms how you made it? 

						p We then find broader uses seen across the whole group. 


						h2 Competitive Analysis
						p Detailed walkthroughs created from enacting gained user scenarios with different mobile music apps. Comparing the steps across different apps allow us to capture what works and pain points in processes quickly.
						p We first categorize the architecture for each app. Similar definitions across many apps allow us to gauge what categories may work in each navigational context without the need for preparing card sorting in early phases. 
						p We navigate through each app to see how each accomplishes selected user scenarios. By doing deep dives individually, we personally see how we feel about each app's process of accomplishing some task like finding a playlist for a certain mood. 

						h1 Week 2

						h2 Wireframing
						p From picking two scenarios, first we map out the routes of how they will be accomplished. We pull fluid removal functions from Googleplay
						p We conceptualize checkbox features to enable a more enthusiast approach to playlist management able to simultaneously manipulate bulks of songs across your library.
						img(src="/img/route1.jpg")
						img(src="/img/route2.jpg")

						h1 Design Challenges
						p After conducting walkthroughs with users, we decided not to make big changes to the process of creating a new playlist because we found that users generally did not experience issues.
						p However, we did think that homepage should be simplified and only show necessary information. To keep it concise, we decided to keep three navigation icons at the bottom bar, which directs the user to homepage, search page, and ‘my collection’ page. These three pages are the most frequently visited pages.
						p Our main focus of redesign is to enable users to manipulate multiple songs at a time when they manage a playlist.
						h3 Comparative Analysis
						p Finally we evaluate our app's navigate against other music apps to get the gist of performance
						p We measure using the number of actions it takes to accomplish a user scenario. 
						h1
							a(href="https://invis.io/TR6GD4B7C") Final Wireframe
						p Drawing from our routes scenarios, we constructed a high fidelity prototype allowing users to get a feel for our implemented functions
						p I feel that I've gained a better grasp on when I should utilize different UX research methods. By offloading most of the categorical work from other big named apps, our team can focus on what functions are best suited in the situations we've tackled: creating a playlist from discovered music, and playlist mangement. 


			div.slide(name="ethnography" data-anchor="ethnography")
				div.container
					h1.welcome Ethnography
					div.content
						h1 Nothing Never Happens
						p To improve my ethnographic skills I studied a single subject of playing Final Fantasy 14 to discover the cognitive bridges between physical and virtual experiences. Over a 10 week period, I set out to collect various forms of observational data, including interviews, photos, and video. 

						h2 Overarching Themes

						h2 Observation
						p In the case of navigating a virtual world using a controller, the history of using the controller, the interface matching the controller's button placement, and visual feedback to physical movement all contribute to deducing cognition emerging from the interactions between brain, setting, and activity influencing one another within an information rich world.

						h2 Photography analysis
						p activity that seems routine reveal underlying complexity of developing dexterity and where attention is focused.

						h2 Finding Cultural Models
						p How may a group of individuals organize themselves to accomplish a mutual goal, and how might individuals express themselves in largely a text-based medium. 

						h2 Video Analysis
						p How does an individual navigate the virual world in both space and time.


						h2 The Interface and Coordination
						p Getting good requires embodying abstract actions into physical form. What scaffolds that?

						h2 Collection of Essays
		div.title.section(name="writing")
			div.container
				h1.welcome My Short Stories
				div.content
					h1 Sundry Smiles
					h1 The Girl Who Collects Magic Tricks 
					h1 Saxophone In Allegro
					h1 Blues Iced in Birds
					h1 Letters of Memories
	div.arrowUp ▲
	div.arrowDown ▼




			

	//-
		div.frame.tint
			div.head
				span.name MAKISE@KRSCHVL
			div.console.section(name="home")
				div.columns
					div.left 
						img(src="/img/chuuni.gif")
					div.right 
						ul.navbar
							span.tilde >
							span.colon :
						ul.navbar 
							a(href="#works") Works
							span  / 
							ul.dropdown
								li test
								li test
						ul.navbar
							a(href="#writing")  Writing
							span  / 
							ul.dropdown
								li test
								li test
						ul.navbar
							a(href="#resume")  Resume
							ul.dropdown
								li test
								li test

						//-

							li
								a(href="#works") Works 
								span  / 
							li
								a(href="#writing") Writing 
								span  /
							li
								a(href="#Resume") Resume


					//-
						span
							a(href="/works") Works 
						span /
						span
							a(href="#writing") Writing 
						span /
						span
							a(href="#contact") Resume


	//-	
		div.container.section(name="home")
			div.navbg
				ul.navbar
					li
						a.strike(href="#works") Works
					li
						a.strike(href="/writing") Writing
					li 
						a.strike(href="/about") About
			
				
		div.works.section(name="works")
			ul.tree 
				h1 Works
				li.project
					a.strike(href="#solo") Solo
				li.project
					a.strike(href="#discourse") Discourse
				li.project
					a.strike(href="#musicapp") Music App Wireframe
				li.project
					a.strike(href="#ethnography") Ethnography


		
	//-
		div#skewing
			ul.header
				li Works
				li Writing
				li About
		div#smallerskew


		//-
			h1.header Hello
			a.square(href='#about' )
				p.text About
			a.square(href='#Works')
				p.text Works
			a.square(href='#Writing')
				p.text Writing
			

		//-
			svg#Background_Image( data-name='Background Image', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1342.95 731.97')
				defs
					style.
						.cls-1{fill:#fff;stroke:#000;stroke-miterlimit:10;}
				title panels
				polygon#panel4.cls-1(points='586.27 703.96 1185.96 731.45 1342.22 360.94 719.3 299.98 586.27 703.96')vv


				polygon#panel3.cls-1(points='205.16 315.98, 51 718.46, 645.09 725.95, 788.26 363.48, 205.16 315.98')
				polygon#panel2.cls-1(points='1245.72 29 678.77 71.5 696.09 317.37 1150.93 368.98 1245.72 29')
				polygon#panel1.cls-1(points='211 0.5 199.8 367.85 835.76 391.97 724.92 1.6 211 0.5')



	
		//-
			




	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="/js/menus.js")
	script(src="/js/scrolloverflow.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.js")

				


				
