doctype html
html(lang='en')
head
	title Dank Mems
	link(href='css/home.css', rel='stylesheet')
	link(rel="stylesheet" href="css/magnific-popup.css")
	link( rel="stylesheet" type="text/css" href='css/jquery.fullPage.css')
	meta(name="viewport" content="width=device-width, initial-scale=1")
	
	
	
body
	div#fullpage
		div#title.section
			span#welcome Allan Asis
			div.right(style="color: black")
				ul.navbar
					span.tilde >
					span.colon :
				ul.navbar 
					a(href="#works") Works  
				
					ul.dropdown
						a(href="#works") 
							li SOLO
						a(href="#works/discourse")
							li Discourse
						a(href="#works/musicapp")
							li Music App Wireframe
						a(href="#works/ethnography")
							li Ethnography

				ul.navbar
					a(href="#writing") Writing  
				 
					ul.dropdown
						a(href="#works") 
							li Sundry Smiles
						a(href="#works") 
							li The Girl Who Collects Magic Tricks 
						a(href="#works") 
							li Saxophone In Allegro
						a(href="#works") 
							li Blues Iced in Birds
						a(href="#works") 
							li Letters of Memories
				ul.navbar
					a(href="/docs/Allan_Asis_Resume_Sept_2016.pdf" target="_blank") Resume

		div.title.section(name="solo")
			div.slide(name="solo" data-anchor="solo")
				div.container
					h1.welcome SOLO
					div.content
						p SOLO is an exploration service application aimed to tackle social exhaustion where those can enjoy places by yourself without the pressure of others. By developing in regards to our own introversion, we create a personable adventure for our users. In a 3 week design sprint, our 5 student team went through a reiterative process bringing in our previous ideas together forming SOLO. We developed several prototypes, user profiles, and presented each week gaining feedback to critique and implement
						
						h1 The Problem
						p The issue of social exhaustion in public spaces is close and familiar with many members of our group, and we believed the idea to be unique and interesting enough to pursue as a project. We felt that there was a lot of potential for an app that emphasized both getting out of the house and being comfortable by yourself. By working on soloSD, we hope to provide the more socially withdrawn side of San Diego with a helpful tool that encourages getting out of the house and enjoying life without having to worry about the busy world around you.


						h1 Developing the Idea
						p Initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						p we each diverged across many different interests we had searching for potential needs to iterate upon and develop services for. We also used the databases immediately available to us to drive ideas toward certain directions. 
						ul We looked at:
							li Potential living spaces
							li Mental Health
							li Neighborhood Public Policy
							li Physiological Health
						p Constricting our brainstorming to 24 hours forces us to critically enumerate on potential topics without getting caught up on perfecting an idea. From choosing to launch with developing upon the problem of: “do certain demographics display more of a trend towards certain mental issues than others?,” we began a 72 hour prototyping session where we focus on our core tenets derived user needs  we researched.  
						p Our current idea, soloSD, was established after being unable to develop a niche around the problem: As stated in the introduction, initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						h1 Developing Architecture
						p We outlined a basic series of actions our users would take when finding a place to be alone.
						img(src="http://puu.sh/rkTle/638ce144c7.png")
						p Then developed a rough prototype encompassing this activity. 
						img(src="http://puu.sh/rkTov/f5a67830fd.jpg")
						a(href="http://946lno.axshare.com/#g=1&p=home&c=1") Prototype
						h1 Testing and Evaluation
						p With our weekly presentations, we gained class feedback to critique and find what may be best implemented into our app as well as the snags from quickly browsing through the developing prototype.
						a(href="https://docs.google.com/document/d/1yAW1rEBGyyrrwF9rmd1HZvct8EOi_rshD2s26hXlueo/edit?usp=sharing") feedback


						h2
							a(href='#drivelink') Project Files
			div.slide(name="discourse" data-anchor="discourse")
				div.container
					h1.welcome Discourse
					div.content
						p Discourse is an interactive lecture service that facilitates collaborative learning and provides analytics for professors. Unlike other platforms, Discourse facilitates collaborative learning and in-class activities that produces comprehensive learning materials.
						p Over a 10 week period, our team of 4 sought to understand the classroom environment and the technologies used to enhance learning. Through observations, interviews, and service enactments, we found essential needs to iterate on. 

						h1 Why Did We Create Discourse?
						p Learning shouldn't be a passive experience. Large lecture halls today paint a rather dismal picture - students, with their eyes glued to laptop screens, and professors droned out in the background. The current learning environment doesn't facilitate learning. Students often rush to cram all the information they didn't learn in class the night before their midterms and finals.
						p Discourse aims to harness ubiquitous, always on devices as a boon instead of a distraction. We can facilitate learning and make lecture time valuable by taking advantage of some key insights in the science of education.
						h1 Understanding the Education Space 
						p First, we brainstormed grievances and occurances about college life under 4 general sectors: Social, Technological, Economical, and Political. This allowed us to hone into a niche of opportunities. 
						img(src="https://puu.sh/rkPdS/72013598d0.png")
						h2 How Might We 
						ul
							li How might we create easy-to-use and unambiguous channels for communication between students, professors, and TAs?
							li How might we foster student etiquette and professionalism to create a reliable platform for prompt and helpful answers? 
							li How might we enable students to collaboratively interact with, annotate, discuss, and transform the professor’s content?

						p From here, we conducted interviews and observed students in lecture to develop questions on where we could improve learning. 
						p Using our ethnographic data, we each created our own solutions through storyboarding. With parallel design, we can see the commonalities between each design, and which were a unique approach. Through parallel design, we iterated rapidly without being hungup on trying to form multiple solutions. 
						p Our current idea, soloSD, was established after being unable to develop a niche around the problem: As stated in the introduction, initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
						img(src="./img/storyboards/1.png")
						img(src="./img/storyboards/2.png")
						img(src="./img/storyboards/3.png")
						img(src="./img/storyboards/4.png")
						img(src="./img/storyboards/5.png")
						img(src="./img/storyboards/6.png")
						h2 Competitive Analysis
						p We analyzed current tools and services being used to understand why each would be used, and why someone would use our service rather than established tools. 
						img(src="http://puu.sh/rkQEv/c2811dc7af.png")
						p To do so, we developed user scenarios where persona may interact with our proposed service in the face of a problem.
						h1 Roleplaying and Enactments
						p To test our service if it would be feasible we created a scenario in which a student will go through a lecture and will be periodically interrupted with given activities. To mimic a live lecture while still being able to control the pacing of the class, I proposed for our users to listen to a podcast of a lecture. 
						p Podcasts allowed us to:
						ul
							li pause at any moment to do an activity
							li reduce confounds of split attention between the professor lecturing and the student doing an activity
							li focus on how receptive users are to the handed activities. 

						p We listened to the selected podcast beforehand to match our activities with the lecture content. We interrupt the student upon reaching an activity moment, and have them do the activity proposed on the google survey form to record their responses. 
						img(src="http://puu.sh/rkSI4/c2f5dceeb4.jpg")
						p At the end of the enactment, we have students evaluate their experiences. 
						img(src="http://puu.sh/rkSJM/a2bae9c4ac.png")

						h1 Brand Identity
						p Before naming our service Discourse, we explored abstract concepts and adjectives paired with various color schemes. 
						p We came up with Discourse as a double entendre. "This course" and Discourse as in opening a dialogue.
						img(src="http://puu.sh/rkS40/e57f74b179.png")
						img(src="http://puu.sh/rkS71/84a7a47de8.jpg")
						img(src="http://puu.sh/rkS8h/b4eeda5e74.jpg")

						h1 Pitching Our Service
						p For our A/B Testing, we developed two mock websites paired with different advertisements pitched to different demographics to see which pair would generate the most clicks and sign ups. 
						img(src="http://puu.sh/rkSCH/0418b8d1cd.jpg")
						img(src="http://puu.sh/rkSFv/514fe439a3.jpg")
						img(src="http://puu.sh/rkSGz/2b9095d53c.png")
						p Finally, we created a sample kickstarter campaign with a video pitch for potential investors. 					 
			div.slide(name="musicapp" data-anchor="musicapp")
				div.container
					h1.welcome Music App Wireframe
					div.content
						p Our team of 3 developed a wireframe for our own mobile music application testing our comprehension in usability, information architecture, navigation, and interactivity.
						h1 User Scenarios
						p We sought to understand the contexts in which people who regularly listen to music through their cell phone. When and where do people do those activities? And how do they do them? 
						p To extract scenarios we have people show us step by tep of how they would do a process like creating a playlist from discovered music. 
						p From a pool of 9 people ranging from ages 20-25, we interview each about their mobile music habits. 

						h1 Generate broad scenarios from interviews
						li Can you think of other times when you recenlty listened to a playlist?  What were you doing? 
						li Can you think of other times you made a playlist - a time when you made it in a different way?  For instance, do you ever make your own playlists out of playlists on a provider site?  When was the last time?  Where were you.
						li Can you first tell me in general terms how you made it? 

						p We then find broader uses seen across the whole group. 


						h2 Competitive Analysis
						p Detailed walkthroughs created from enacting gained user scenarios with different mobile music apps. Comparing the steps across different apps allow us to capture what works and pain points in processes quickly.
						p We first categorize the architecture for each app. Similar definitions across many apps allow us to gauge what categories may work in each navigational context without the need for preparing card sorting in early phases. 
						p We navigate through each app to see how each accomplishes selected user scenarios. By doing deep dives individually, we personally see how we feel about each app's process of accomplishing some task like finding a playlist for a certain mood. 

						h1 Week 2

						h2 Wireframing
						p From picking two scenarios, first we map out the routes of how they will be accomplished. We pull fluid removal functions from Googleplay
						p We conceptualize checkbox features to enable a more enthusiast approach to playlist management able to simultaneously manipulate bulks of songs across your library.
						img(href="/img/route1.jpg" src="/img/route1.jpg")
						img(href="/img/route2.jpg" src="/img/route2.jpg")

						h1 Design Challenges
						p After conducting walkthroughs with users, we decided not to make big changes to the process of creating a new playlist because we found that users generally did not experience issues.
						p However, we did think that homepage should be simplified and only show necessary information. To keep it concise, we decided to keep three navigation icons at the bottom bar, which directs the user to homepage, search page, and ‘my collection’ page. These three pages are the most frequently visited pages.
						p Our main focus of redesign is to enable users to manipulate multiple songs at a time when they manage a playlist.
						h1 Comparative Analysis
						p Finally we evaluate our app's navigate against other music apps to get the gist of performance
						p We measure using the number of actions it takes to accomplish a user scenario. 
						h1
							a(href="https://invis.io/TR6GD4B7C") Final Wireframe
						p Drawing from our routes scenarios, we constructed a high fidelity prototype allowing users to get a feel for our implemented functions
						p I feel that I've gained a better grasp on when I should utilize different UX research methods. By offloading most of the categorical work from other big named apps, our team can focus on what functions are best suited in the situations we've tackled: creating a playlist from discovered music, and playlist mangement. 


			div.slide(name="ethnography" data-anchor="ethnography")
				div.container
					h1.welcome Ethnography
					div.content
						h1 Nothing Never Happens
						p To improve my ethnographic skills I studied a single subject of playing Final Fantasy 14 to discover the cognitive bridges between physical and virtual experiences. Over a 10 week period, I set out to collect various forms of observational data, including interviews, photos, and video. 

						h2 Overarching Themes

						h2 Observation
						p In the case of navigating a virtual world using a controller, the history of using the controller, the interface matching the controller's button placement, and visual feedback to physical movement all contribute to deducing cognition emerging from the interactions between brain, setting, and activity influencing one another within an information rich world.

						h2 Photography analysis
						p activity that seems routine reveal underlying complexity of developing dexterity and where attention is focused.

						h2 Finding Cultural Models
						p How may a group of individuals organize themselves to accomplish a mutual goal, and how might individuals express themselves in largely a text-based medium. 

						h2 Video Analysis
						p How does an individual navigate the virual world in both space and time.


						h2 The Interface and Coordination
						p Getting good requires embodying abstract actions into physical form. What scaffolds that?

						h2 Collection of Essays
		div.title.section(name="writing")
			div.slide(name="musicapp" data-anchor="musicapp")
				div.container
					h1.welcome My Short Stories
					div.content
						p
							a(href="#writing/1") Sundry Smiles
						p
							a(href="#writing/2") The Girl Who Collects Magic Tricks 
						p
							a(href="#writing/3") Saxophone In Allegro
						p
							a(href="#writing/4") Blues Iced in Birds
						p
							a(href="#writing/5") Letters of Memories

			div.slide
				div.container
					h1.welcome Sundry Smiles
					div.content
						p The carriage clucked as each wheel bounced in uneven spurs. Black hues reached across the sky from the windowsill to the left of me. No stars to prick the blanket. Inside of the carriage provided no solace from the enveloping darkness. Meekly, I turn away to face inside the carriage again straining my eyes to trace the peachy hue of Miss Penny’s face in front of me. She too was gazing, wistfully toward the soft crimson contours lighting buildings across the background. The silhouettes were like cutouts from a story book gilding the surrounding hills. One could not imagine the insidious screams bellowing throughout. If it were not for the sharp stinging abrasions painting my knees charcoal, perhaps I would have felt more intimate of the crimson dancing. Miss Penny’s greyish eyes bore a glossiness as she looked out without wavering, but her left hand coiled rhythmically around the mahogany music box on her lap. I pathed downward until I fixated my gaze towards the slack boots I wore, which barely touched the floor if it were not for me dangling them by the centers of my feet. My soles too fatigued from the hike to the riverbank; my soul too perhaps as I again felt the pulsating grip of Miss Penny’s hand around my right hand pulling desperately to the awaiting carriage. 

						p The carriage wheels now silent and the travel smooth. If not for the fading embers, I would have felt no movement. I try to open my mouth, and suddenly the stark dryness of my lips pulling apart overcame me. The back of my throat swollen as if an apple lodged the way. I tried swallowing to get rid of the feeling, but I only became more irritated as I felt the phlegm coating the walls. No words trailed behind. Miss Penny still with her neck turned toward the fading town loudly whispered, “Your 10th birthday’s today Cline, is it not?” My chapped lips ripped apart to respond, but the words escaped me. I felt my face constrict inwards, and my brows furrowed only to blink back towards Miss Penny. The skin of my cheeks traced by droplets. The salty taste unabashed vulnerability I could not contain. Smells of damp shrubbery began to fill the carriage. Lavender scents pervasively spread throughout the space around us. I turned back to the shaking window, and I could see saturated blue curtains lining the top. 

						p Tall bark walked across the window with their branches extending from the trunks. I contained my stares downward again, not making contact with Miss Penny’s eyes. The torn hems of her mossy green skirt covered her legs, a glaring contrast from her usual effervescent appearance as the bartender in the pub. She started humming tunes of tired mandolins.  Her voice, though hoarse, was still reminiscent of the plucking outside the wooden pub doors. The sweet frothiness of steamed milk consumed my taste buds allowing me to escape the dreary aristocracy. I kept wishing for one last glass to quench my thirst before the evening insurrection. And then silence. My palms burning from my grips on the edge of the linen seats awoke me. I shifted my grip to lean against the backrest. My bruised spine felt the contours of the pillows. Trailing away from the dark mossy greens, my gaze finally met Miss Penny’s. Her smile slightly quivering. She reached out to me with the music box in hand placing it in mine. The swirling black trimmings wrapping around the box felt rubbery in contrast to the polished mahogany glazed with moonlight peaking from the windowsill. “You’ll encounter many trials larger than what could fit inside that box, Cline. Ostensibly of course.” Miss Penny chuckled faintly before containing her dry coughs into the sleeves of her brown cowl. The back impressed with a keyhole had only empty remarks for the key it could not find. The carriage jerks to a sudden stop, and the music box tumbles out Cline’s hands opening up. Abrupt tinks blanket the space around them reminiscent of ballet steps. Cline brings his knees up close to his body and buries his head in-between. Miss Penny’s hand reaches out brushing the top of his unkempt hair. Precocious white lilacs bloomed next to the windowsill. In pity or sorrow, he did not know; he dozes off to the sorry melody. 
			div.slide
				div.container
					h1.welcome The Girl Who Collects Magic Tricks
					div.content
						p One second passed. Eyes enveloping the room. Two seconds. The fish with gasps a curdling screech floundering in place with stubby scaled legs. The eyes smile mockingly; laughter fills the room.
						p
							i You ain’t even controlling your scrawl right!
						p a man howled from the crowd. “Can’t even hold the flame in her palm!” Éclair now deadpan, squats and covers the wailing fish with black velvet cloth. With a brief waving gesture above, small sparks puff above the back of her hand. She quickly removes it. The fish now silent; the crowd now louder. Éclair lifts the blubbing fish cradling it in both arms. The pub doors creaked shut sealing the boisterous crowd. Éclair marched toward the seaport, boots cling against the flat cobblestone. It’s sunset now. Éclair stood at the edge near the pier where the water bubbled inches below against the ridge walls. Her short cloak tucking a deerstalker hat into her shoulders. “This sucks.” Éclair groans. And all I have left for spoils is an irreconcilable braindead tuna. The tuna facing in direct confrontation hoisted in her arms. 
						p 
							i Blub blub blub.  
						p The fish repeatedly open and closed its mouth.  
						p Of course, to the on looking boy, it was hard to distinguish who looked like the bigger idiot. Ripples crashed against the jagged rocks. The tailfin’s slap echoed through the boy’s ears. He smirked.  Éclair grumbled in contempt against the ungrateful fish. “At least I remembered to roll my sleeves this time”, she thought, washing away the slime. A bellowed laughter resonated to her. Distress. Who had seen her rejected by a sea creature? Across the way, a boy to her left holding his stomach trying to keep his innards tucked. His folded down boots, his black knickers, a small chest in his hands, all of it chuckled. Fleeting expressions of embarrassment and annoyance overcame her. The town’s church bells rang. She may have just looked like a buffoon, but this was Éclair’s chance to gain her first fan. To step proudly off her sinking ship. She rushed to him extending her arm for greeting. 
						p
							i Hello I’m Eliz- Call me Éclair the Estrange: World class magician. 
						p The boy, still red, extends his hand to meet hers. Squawking crows spill out from her plaid skirt pockets. Sorry, I forgot to paint them.  The boy’s snickers now mimicking the crows. “I’m Cline,” he uttered petting the puffed crows at his feet. He squats drawing scrawls on the rough stone with his ring finger. Small embers arose from his hand. The crows now paper, fluttered back into Éclair’s brown pockets. Éclair now folding her arms with her shoes pointed askew toward the waters. Her brows furrowed complimenting her smirk. 
						p 
							i Twerp, 
							| Éclair muttered. Where did you learn such a script? Cline grinned sneeringly. “I cannot accept this. I won’t,” Eclair says, choke holding Cline in her arms behind him. Cline tickled by Éclair’s abrupt frustration. Promptly stopping, Éclair exhales deeply. Her tired eyes blackened like illuminating windows in shadows. Listen you little youngster, I may still be self-proclaimed, but I’m leagues better than you’ll ever be. Her chin pointed upwards, almost as if extending to the lamppost above them. Cline, squatting on the ground yet again lit scrawls at his feet. Éclair hunches forward with the impending tumor growing under her cloak. A large crow bustled around her straight-faced head. She reaches around her back violently stuffing the crow into her pockets until it disappeared.  “Impressive disappearing act”, Cline grinned. 
						p 
							i Cline! Where are you? The estate’s bells ring! 
							|I’m coming Miss Penny! They waved each other goodbye. All that left was a crow nesting on her back, and a music box below her feet. Éclair smiles at the sunless sea.  
			div.slide
				div.container
					h1.welcome Saxophone In Allegro
					div.content
						p Blue leather seat cushions take their orders from ashen mouths. “Must you wallow in your self-pity yet again?” said Saxton. A brazen saxophone who would be sorely missed if one would find a method to seal its speech. Saxton’s brass keys glimmered across the dull yellow lighting bouncing off the reflections of fine wines behind the counter. Its body smothered in finger prints, but the mouthpiece dry showed no surprise to droll octaves. Penelope burning musical notes across the staffs in her journal, “Well Saxton, if you must criticize, an artist’s work requires the utmost diligence in crafting such a sonata.”
						p “The robins lie in wait to learn the intricate birdsong you so value,” Saxton said with his neck pressed against glossed mahogany counter. 
						p Penelope rapidly presses against the spatula keys. “The most keys you’ve touched this month,” Saxton sneered. Penelope buried her attention into the charcoal sparks seared into her coffee stained paper that did not talk back. Ballooned lights above seemed dimmer saturating hard-pressed thoughts. Across the back corner walls, floating immaculate white gloves rested across the contours of their respective instruments ready for a cue. "Steam pressed without wrinkles," Penelope says, staring at the delicate threads. They were professionals. Every light goes out with a shutter, and even Penelope's does too. All eyes draw towards the remaining luminescence where a mouth of violet lips hovered in front of the centered mic. A woman in magpie sitting next to Penelope let out a puckered whistle. “Attuned to her image,” Penelope thought, gazing along her beak sewn onto a feathered mask. 
						p The mouth grinned in satisfaction. One set of gloves begins falling into a lulling roll along the piano keys. Each brush tiptoeing black and white with no script to follow. The mouth vehemently inhales. Penelope finds her breath, but leaves before an exhale is uttered.
						p “It was just getting good,” Saxton lets out. Penelope’s glyph stained journal burned brightly offering everything but conversation. “I can play. I too can play,” Penelope mutters, pacing along the damp red carpet. Penelope’s mouth became stained with sporadic rhythm. 
						p “Bah. You fled the tundra only to be frozen stiff,” Saxton’s brass echoed.  
						p Penelope strides along the half-beaten alleyway where sonatas whispered from the half-open glass window. Her steps mimicking the plucking chords complementing the splashing puddles left behind. What could she do? Penelope could only agree with Saxton. Her romanticisms remain awry showing few stanzas with no voice. Penelope stands in place gripping the instrument between her arms. Roof shingles offered no protection from the drizzles. “I am no musical instrument. I am a SAXOPHONE,” Saxton yawps. Penelope knew. She knew she could not stand idly dancing around her brass keys. No instinct, nor predisposition could play away her contrived hesitation. Her blued lips do not take orders from pompous mouths. Keys of D hummed between the shadowed walls. 
						p “Don’t hold your breath.” 
			div.slide
				div.container
					h1.welcome Blues Iced in Birds
					div.content
						p Blue leather seat cushions take their orders from ashen mouths. “Must you wallow in your self-pity yet again?” said Saxton. A brazen saxophone who would be sorely missed if one would find a method to seal its speech. Saxton’s brass keys glimmered across the dull yellow lighting bouncing off the reflections of fine wines behind the counter. Its body smothered in finger prints, but the mouthpiece, dry, showed no surprise to droll octaves. Well Saxton, if you must criticize, an artist’s work requires the utmost diligence in crafting such a sonata. 
						p There is a technique, you see. Cut ice got no real meaning, but every night they shout their infirmed particulars. One would be lucky just to hear the word squared. Those with no eyes wished for tears.  The weekly bourgeoisie sat for diamonds. Everyone got something to want. One swan, boy. A swan? A swan, she says. Listen Miss, I got no quartz for repartee. A woman in magpie got no business ordering a swan. “One swan for the ever lavish lady.” Splashing puddles reverberated from the windowsill above. 
						p Saxton was right. I had been doodling ever since we arrived. What could I do? I had no place to play, let alone learn how. All that keeps me company is a saxophone I could not play. Its brass keys have no mouth, but they still speak. “The most keys you’ve touched this month,” Saxton sneered. Penelope buried her attention into the charcoal sparks seared into her coffee stained paper that did not talk back. Every light goes out with a shutter, including mine. All eyes draw towards the remaining luminescence where a mouth of violet lips hovered in front of the centered mic. A woman in magpie sitting next to Penelope lets out a puckered whistle. Attuned to her image. Just look at her beak sewn onto a feathered mask.  Discordant keys of D from the alleyway made it all seem like a bad joke.
						p 3am, right on the mark. The Ballooned lights always dim my charred staves. Not like it mattered anyway. The Redmans have the stage for this fine twilight hour. Those back corner walls are reserved for only the truest of narcissists. Just look at them on stage.  Floating immaculate white gloves resting across the contours of their respective instruments ready for a cue. One piano behind. One cello to the side. The drums on the other. The mouth grinning in front. One damn trumpet. Steam pressed without wrinkles. They were professionals. Heated banter simmered through the pillowed doors left ajar.
						p Tongues guard from the indicted. “Dah.” I only need to stay inside. Only for a moment. “Dah.” Please, I’ll keep to the corners. “Dah.” “Oh Penelope, this bumbling Tan will give no refuge to us.” Quiet Saxton! Even the mutes still have mouths. The feeling must be mutual for you of course. “Bah! Only sinners vindicate their songs.” Hear that mister? This musical instrument plays in allegro. “I am no musical instrument; I am a SAXOPHONE.” “Dah.” “The robins lie in wait to learn the intricate birdsong you repeat.” Someone check the bar! Your brass keys clearly have the power here, mister. The alleyway, Saxton. Let’s try the alleyway. Trumpet fanfare echoed along their steps.
						p Sometimes whispers speak of the dejected. “Cline, over here. Hide between the walls.” The rain kept pouring down. My palms charred from the casted illusion of thin stone. “Cline, wait a moment would you?” Drops dribbled to puddle homes. Miss Penny squatted to her knees leaning against the damp stone walls while pressing handkerchiefs onto her stomach. I couldn’t see the blood, but I knew it was there. Cymbals muffled the beat of the falling waters.
						p My romanticisms hid between these staves. I can play. I too can play. The alleyway echoed my sultry honks. These brass keys take orders from my blued lips.
			div.slide
				div.container
					h1.welcome Letters of Memories
					div.content
						p If you stare into the inked flame long enough, sometimes you’ll find yourself walking towards it. There exists a young boy, complacent and drawn, who finds himself futures he could only remember. All the embers which split off from the flame disseminating with nowhere to go can be seen by him, but he does nothing to save the inked lines. The study doors, hushing any optimism from the living, leaves him drawing the many futures into the lamenting paper under the yellow hue of burning oil. Cline Gestal; the boy signs his salutations under in hopes that the letters may one day find their way back home. Cline is a boy whose feet don’t touch the ground from the chair he sits in. At least that’s what his silhouette tells us. His cuffed shorts drape just past his knees. Not quite short; not quite long. Untied strings drape below his dress shirt collars. One side too short; the left too long. A hooded half capelet covers the mahogany chair spindles. Its left leg humors the homely mouse in the wall who would otherwise have been teasing the cat waiting beyond the pillowed doors. What must it be like to be only bothered by a sneaky mouse and a cat whose paw scratches the underside of the bookshelves for each squeak that echoes through the lonesome doors. Perhaps not so lonely as the cat who keeps it company waits for it to open up. 
						p Three creases enclosed with a wax seal feeds the inked flames one day longer. Cline wrote of a sheriff who might have been born one century too late. Every twilight hour, the sheriff waits behind the diner doors until compelled enough to tell the waitress the pasts she makes up. 
						p
							i Oct 18
						p
							i Today I saw the most wondrous creature. It was a giant deer. Not just any deer, but it had points and folds and creases. It was made of paper! We were in an open field surrounded by all these trees playing with my red ball. My older sister and I found this spot after having tumbled down the forest hills beyond the main dirt road. Anyway, as we are all staring at each other, I inched slowly toward it. When it raised its head, I immediately stopped in place. My back heel no less. I curtsied and kept my head down. My sister nudged me to look up, and the papered deer was bowing! It let its folded antlers down with its nose almost touching the ground below then it raised its head again as I did. Unfortunately, all the birds had begun cawing startling the deer causing it to jump away. I hope to see it again someday. 
						p
							i M
						p The rain tapped against the buzzing neon lights in slow moving waltz. Across the street, the sheriff sits knees together and shivering. She sits on the canopy bench until the last bus shuts its doors towing forward the patrons sitting within the attached compartments. The engine’s roaring lull engulf her thoughts. Tattered boots, a stiff upright posture. The hand of red makes sure the sheriff follows orders before crossing the road even if no one’s watching. It was evening now, but who was keeping track in this kind of weather anyway. A brooding overcast had swallowed the sunless skies painting them like a toppled ink vial. The sheriff’s rubber raincoat shielded her from the overture of raindrops crashing, but her eyes remained on the luminescent red emitting from the crosswalk light meters away. Her thoughts stood still as if staring at a blank canvas poised to capture what she had felt in her mind’s eye, but the incessant hand prevented any such progress. The sheriff, annoyed by her lack of concentration to even think of what to say, drags her eyes downward beneath the painted horizontal rows of white lines. The hand was there too. Its digits clawed across the asphalt road reflecting from the damp bars.  
						p Paper doves peck at the ground frolicking below the sheriff’s boots. She thought of shimmying to the side, but that would require moving away from the now nested birds who nuzzle below her leather boots. With hesitation, the sheriff brushes the paper doves away from her boots. They’ve always been attracted to her since they first appeared. In one such occasion on a day much like this one.
						p During such a day, an origami deer appeared from the shrubbery while scurrying through the forest looking for a two-bit thief who had stolen the breath of another. Beside the damp hillside, the sheriff slid down at a slant reaching the bottom levels of the forest. Wilted trees forgotten from the world misshapen by their own branches. Our lovely Miss Sheriff lost in the growing grasps of bark could only think of cuddling by the fireplace in her yellow poncho with a baby chick printed on the hooded attachment. Sometimes it looked as if she pecked at her cup of hot cocoa as she continued her letters on papyrus. Raindrops leaked down from the branches hitting her face.
						p Oh right, she was not in her home isolated from the rest of the world, she was here chasing a lowly criminal who probably escaped the forest judging by how long she had been searching. However, she couldn’t judge as the canopy of trunks muddied the overcast above. They had been ever since she trekked deeper into the forest floors. Rustling leaves shook across the saturated shrubbery around her. An origami deer appeared from the quieted bushes just a few meters in front of her. It stumbled trying to gain its bearing after emerging from the quaint bushes. Miss Sheriff saw its left front leg without creases, and realized it had not folded correctly. It wobbled closer as if it was some malformed caricature. Black ooze dripped out from its misbalanced hooves. 
						p Quartz Ink, that’s what we call such a substance now. Though, that was unbeknownst to our Miss Sheriff in the moment. If one collects about 20 fluid ounces and compresses it with embers, it allows one to write magic scrawls with the resulting crystal. These days, they’re synthesized by quartz farms made from inked minerals mined from craters. Though, all this has happened long before the sheriff’s encounter with the papyrus beast. Miss Sheriff extends her hand towards the seemingly docile creature as it limped toward her. A loud crackling bang echoes through the forest. Streaks of azure paint the skies with shimmering red blips illuminating the sunless forest. It was gone.
						p Under the cawing fervor of the birds that straddle the open sky, Miss Sheriff had lost sight of the poor deer. All that remained were small puddles of ink staggered in a windy pathway deeper into the forest. The sheriff’s eyes could not readjust to the bellowed blacks in twisting shades pf wilted trees and mossy sways. Miss Sheriff, feeling her canister flame, felt a little relieved hers was the one that did not emit the whistling comet that show above the canopy trees. 
						p It finally changed. The red hand which remained lit to stop all law breakers morphing them into law abiding citizens now became a fluorescent eye holding a straight-faced demeanor. Perhaps it wasn’t enough to those at the top to just implement a hand to prevent going, additional watch must be taken to make sure those who cross the road remain governed. At least if one were to get into an accident, something would be watching. Miss Sheriff walks briskly matching the painted lines. Behind her, each paper bird hops from bar to bar mimicking her stride.  Clasped hands are the only saviors from the perilous journey of storming drizzles to the diner meters across. Her focus remains militant as each step brings her closer toward the diner doors. Oh Miss Sheriff. They’ve already imprinted on you. 18. 17,16. The eye counts the seconds down. 
						p She made it.  The lull of the buzzing neon signs. A roof propped up by steel extensions guard customers at the entrance from any weathering afflictions. 
						p OPEN 
						p The pink neon sign hangs outside the window reads to the left of the door. Before Miss Sheriff notices cardboard idling in front of the sign. It stood at about 4 feet tall with a figure like a gingerbread cookie. But this cardboard had no face, nor decorations. It was just a blank sleet with cardboard grooves running across its outline. It stuck its arm-like appendages into the glass and leaned its head forward. Its body slanted almost crated a right angle triangle if it were not for its bending neck. A circle of steam sheets the window where the cardboard person faces. Such a sight leaves our Miss Sheriff with a bewildered face. She could accept the sentient cardboard, but breathing? How could it? 
						p “Hey you eating here, kid?”
						p “Heh, don’t look so surprised.”
						p “I ain’t no kid.”
						p “Heh sorry, it’s just how I’m written. I can’t help it. Anyway, have a good one, kid.”
						p The cardboard remains still in front of the diner window. Miss Sheriff pulls on the diner door handles, but does not open.
						p “Heh, it’s a push door, kid.”
						p “Thanks, I noticed.”
						p Inside, puffed bright red leather sears line encircle the walls for queueing customers. The only party here tonight is the Miss Sheriff. She stands in front of the tall podium waiting to be given a seat. The clock’s ticking, but its hands got nowhere to go. Each night the sheriff spends at the diner, the clock ticks unusually loud. Almost as if wanting to proclaim something. A waitress interrupts Miss Sheriff’s hypnotized stares. 
						p “Welcome! The usual isn’t it? Please sit anywhere you like.” 
						p “Thank you Miss Penny. It’s always a pleasure.”
						p “It’s Mrs. now.”
						p “That’s right. Pardon my mistake.”
						p Sorry Miss Sheriff. She’s taken. One day she’ll care for a child, but it is not hers. Unknown to her lover, Miss Penny has been infertile since your conversation took place. She will care for a boy name Cline. She will lose her lover to the incoming insurrection. She will hold Cline in hand scarcely dodging the flames that have no preference to the bodies they consume. She will pat Cline’s head who weeps in her carriage escaping into the ashen forest. 
						p
							i Mar 22
						p It’s been a year since we last saw that deer. We’ve been given black crystals to practice these magicks called scrawls. We can write scripts on surfaces to cast scrawls. I’m still not sure what I could control, but I can make embers spark from my palm! One time my sister made the turnips sing during the evening sunset. It’s too bad she has bad penmanship. I think she would be able to make the most astonishing of spectacles. The other day our caretakers told us of streaks of azure clouds painting the skies. I hope we could see the outside once again.
						p M
						p Our Miss sheriff waits for her nightly delicacy French toast. The crackling of the yolk smothering the lush artisan bread. The slicing of the crust echoes through the quaint kitchen service window. The authentic steel knife running through the brown roll. Its serrated half crunching along the baked goods. Of course, that’s not what keeps her coming back. But, tonight her thoughts remain muddied of the blackened crystals in her canister. She snaps her fingers repeatedly, and each time sparks emit from her palms. 
						p “What a magic trick you have Miss Sheriff.”
						p Mrs. Penny holds the silver plate of French toast and scrambled eggs with her hand. 
						p “Do you know how this works?” 
						p “I’ve heard of a folk tale in which you draw special symbols to make something do what it normally could not. Though, rumor has it you give up a memory proportional to the level you’ve emitted.”
						p “Still Miss Penny, it’s too bad no one knows how to use it now. Imagine what you could do.”
						p “If they all thought like you, they probably all forgot how. And It’s Mrs. Penny. Here’s your esteemed breakfast.”
						p “Forgive me, maybe these sparks are taking their toll. Many thanks for the French Toast Mrs. Penny.”
						p Our Miss Sheriff buries herself in consuming the sweet sustenance. Well it ends there. What did you want?
						p “Tell me what happens next!” 
						p “I’m sorry Miss Micah, that’s all there is. For now, of course. Perhaps we could burn another letter to continue the tale.”

	div.arrowUp ▲
	div.arrowDown ▼
	div.menu





			

	//-
		div.frame.tint
			div.head
				span.name MAKISE@KRSCHVL
			div.console.section(name="home")
				div.columns
					div.left 
						img(src="/img/chuuni.gif")
					div.right 
						ul.navbar
							span.tilde >
							span.colon :
						ul.navbar 
							a(href="#works") Works
							span  / 
							ul.dropdown
								li test
								li test
						ul.navbar
							a(href="#writing")  Writing
							span  / 
							ul.dropdown
								li test
								li test
						ul.navbar
							a(href="#resume")  Resume
							ul.dropdown
								li test
								li test

						//-

							li
								a(href="#works") Works 
								span  / 
							li
								a(href="#writing") Writing 
								span  /
							li
								a(href="#Resume") Resume


					//-
						span
							a(href="/works") Works 
						span /
						span
							a(href="#writing") Writing 
						span /
						span
							a(href="#contact") Resume


	//-	
		div.container.section(name="home")
			div.navbg
				ul.navbar
					li
						a.strike(href="#works") Works
					li
						a.strike(href="/writing") Writing
					li 
						a.strike(href="/about") About
			
				
		div.works.section(name="works")
			ul.tree 
				h1 Works
				li.project
					a.strike(href="#solo") Solo
				li.project
					a.strike(href="#discourse") Discourse
				li.project
					a.strike(href="#musicapp") Music App Wireframe
				li.project
					a.strike(href="#ethnography") Ethnography


		
	//-
		div#skewing
			ul.header
				li Works
				li Writing
				li About
		div#smallerskew


		//-
			h1.header Hello
			a.square(href='#about' )
				p.text About
			a.square(href='#Works')
				p.text Works
			a.square(href='#Writing')
				p.text Writing
			

		//-
			svg#Background_Image( data-name='Background Image', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1342.95 731.97')
				defs
					style.
						.cls-1{fill:#fff;stroke:#000;stroke-miterlimit:10;}
				title panels
				polygon#panel4.cls-1(points='586.27 703.96 1185.96 731.45 1342.22 360.94 719.3 299.98 586.27 703.96')vv


				polygon#panel3.cls-1(points='205.16 315.98, 51 718.46, 645.09 725.95, 788.26 363.48, 205.16 315.98')
				polygon#panel2.cls-1(points='1245.72 29 678.77 71.5 696.09 317.37 1150.93 368.98 1245.72 29')
				polygon#panel1.cls-1(points='211 0.5 199.8 367.85 835.76 391.97 724.92 1.6 211 0.5')



	
		//-
			




	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="/js/menus.js")
	script(src="/js/scrolloverflow.js")
	script(src="/js/jquery.magnific-popup.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.js")

				


				
