head
	title Dank Mems
	link(href='css/home.css', rel='stylesheet')
	meta(name="viewport" content="width=device-width, initial-scale=1")
	
	
	
body
	div#loader
		img(src="img/cat.gif")

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="/js/menus.js")
	script(src="/js/scrolloverflow.js")
	script(src="/js/jquery.magnific-popup.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.js")