h1 Our team of 3 developed a wireframe for our own mobile music application testing our comprehension in usability, information architecture, navigation, and interactivity.

h1 What Could Be Better
p Why us, Why now, who cares


h2 User Scenarios
p We sought to understand the contexts in which people who regularly listen to music through their cell phone. When and where do people do those activities? And how do they do them? 
p To extract scenarios we have people show us step by tep of how they would do a process like creating a playlist from discovered music. 
p From a pool of 9 people ranging from ages 20-25, we interview each about their mobile music habits. 

h1 Generate broad scenarios from interviews
li Can you think of other times when you recenlty listened to a playlist?  What were you doing? 
li Can you think of other times you made a playlist - a time when you made it in a different way?  For instance, do you ever make your own playlists out of playlists on a provider site?  When was the last time?  Where were you.
li Can you first tell me in general terms how you made it? 

p We then find broader uses seen across the whole group. 


h2 Competitive Analysis
p Detailed walkthroughs created from enacting gained user scenarios with different mobile music apps. Comparing the steps across different apps allow us to capture what works and pain points in processes quickly.
p We first categorize the architecture for each app. Similar definitions across many apps allow us to gauge what categories may work in each navigational context without the need for preparing card sorting in early phases. 
p We navigate through each app to see how each accomplishes selected user scenarios. By doing deep dives individually, we personally see how we feel about each app's process of accomplishing some task like finding a playlist for a certain mood. 

h1 Week 2

h2 Wireframing
 p From picking two scenarios, first we map out the routes of how they will be accomplished. We pull fluid removal functions from Googleplay
p We conceptualize checkbox features to enable a more enthusiast approach to playlist management able to simultaneously manipulate bulks of songs across your library.
a(href="../img/route1.jpg" target="_blank")
	img.sample.left(src="../img/route1.jpg")
a(href="../img/route2.jpg" target="_blank")
	img.sample.left(src="../img/route2.jpg")


h2 Design Challenges
 p After conducting walkthroughs with users, we decided not to make big changes to the process of creating a new playlist because we found that users generally did not experience issues.
p However, we did think that homepage should be simplified and only show necessary information. To keep it concise, we decided to keep three navigation icons at the bottom bar, which directs the user to homepage, search page, and ‘my collection’ page. These three pages are the most frequently visited pages.
p Our main focus of redesign is to enable users to manipulate multiple songs at a time when they manage a playlist.
h3 Comparative Analysis
p Finally we evaluate our app's navigate against other music apps to get the gist of performance
p We measure using the number of actions it takes to accomplish a user scenario. 
a(href="https://invis.io/TR6GD4B7C")
	h2 Final Wireframe
p Drawing from our routes scenarios, we constructed a high fidelity prototype allowing users to get a feel for our implemented functions
p I feel that I've gained a better grasp on when I should utilize different UX research methods. By offloading most of the categorical work from other big named apps, our team can focus on what functions are best suited in the situations we've tackled: creating a playlist from discovered music, and playlist mangement. 

