doctype html
html(lang='en')
head
	title Dank Mems
	link(href='css/pulse.css', rel='stylesheet')

body
	div.container
		div.pulse#test_el
		div.pulse
		div.pulse
		div.drop-target.lt
		div.drop-target.rt
		div.drop-target.lb
		div.drop-target.rb
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="http://hammerjs.github.io/dist/hammer.min.js")
	script(src="http://hammerjs.github.io/dist/hammer-time.min.js")
	script(src="js/hammy.js")
	script(src="//rawgithub.com/briangonzalez/jquery.pep.js/master/src/jquery.pep.js")