doctype html
html(lang='en')
head
	title Dank Mems
	link(href='css/home.css', rel='stylesheet')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	
body
	p
		strong Solo 
		| is an exploration service application aimed to tackle social exhaustion where those can enjoy places by yourself without the pressure of others. By developing in regards to our own introversion, we create a personable adventure for our users. In a 3 week design sprint, our 5 student team went through a reiterative process bringing in our previous ideas together forming SOLO. We developed several prototypes, user profiles, and presented each week gaining feedback to critique and implement

	h2 What Could Be Better
	p Why us, Why now, who cares

	h2 Developing the Idea
	p initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.
	p we each diverged across many different interests we had searching for potential needs to iterate upon and develop services for. We also used the databases immediately available to us to drive ideas toward certain directions. 
	ul We looked at:
		li Potential living spaces
		li Mental Health
		li Neighborhood Public Policy
		li Physiological Health
	p Constricting our brainstorming to 24 hours forces us to critically enumerate on potential topics without getting caught up on perfecting an idea. From choosing to launch with developing upon the problem of: “do certain demographics display more of a trend towards certain mental issues than others?,” we began a 72 hour prototyping session where we focus on our core tenets derived user needs  we researched.  
	p Our current idea, soloSD, was established after being unable to develop a niche around the problem: As stated in the introduction, initially we had set ourselves in mental health services where we sought to aid researchers in the psychiatric field by providing answers to the question: ‘How might we communicate the hardships of others to therapists, psychiatrists, and other researchers in an empathetic way’ through the transformations of our data visualizations. The key motivating factor in arriving at our service is to humanize statistics in order for policymakers and all in the psychiatric field to best handle afflicting trends in vulnerable populations around their local areas. However, this idea remained divisive between finding real user needs and finding purpose for the data we already had. Our initial design sprint will showcase how we arrive into our current design.


	h2 Developing Architecture
	p We outlined a basic series of actions our users would take when finding a place to be alone.
	img(src="http://puu.sh/rkTle/638ce144c7.png")
	p then developed a rough prototype encompassing this activity. 
	img(src="http://puu.sh/rkTov/f5a67830fd.jpg")
	a(href="http://946lno.axshare.com/#g=1&p=home&c=1") Prototype
	h2 Testing and Evaluation
	p With our weekly presentations, we gained class feedback to critique and find what may be best implemented into our app as well as the snags from quickly browsing through the developing prototype.
	a(href="https://docs.google.com/document/d/1yAW1rEBGyyrrwF9rmd1HZvct8EOi_rshD2s26hXlueo/edit?usp=sharing") feedback


	h2 Project Files
 
