*{
	margin: 0;
	padding: 0;
	margin: 0;
	border: 0;
	
}

body{
	height: 100vh;
	width: 100vw;

}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

.works{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
	letter-spacing: .3em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: 100;
	text-align: center;
	

}
.tree{
	padding-bottom: 10%;
	list-style: none;
	width: 100vw;

}
